<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.email%> wants to trade!%></h1>
    <p>
      They seem to have taken a liking to your <%= @item.title %>.
    </p>
  </body>
</html>