  <div class="row main">

    <div class="small-6 columns">    
      <h1><img id="main_logo" src="<%=asset_path('swapadopLogo.png')%>" alt=""></h1>
      <p class="subheader">Find the hidden value in the things you have.</p>
      <% unless current_user %>
      <%=link_to "Sign Up Now", new_user_registration_path, :class=>'button call_to_action small round'%>
      <% end %>
    </div>  

  </div>

  <div class="row">
    <div class="img-holder" data-image="<%=asset_path('coding.jpg')%>" data-width="1600" data-height="900"></div>
  </div>



  <div class="row section-1">  </div>

  <div class="row section-2">  </div>

  <div class="row footer">  </div>