<div class="main">

  <div class="row">
    <div class="small-6 columns">    
      <h1><img id="main_logo" src="<%=asset_path('swapadopLogo.png')%>" alt=""></h1>
      <p class="subheader">Find the hidden value in the things you have.</p>
      <% unless current_user %>
      <%=link_to "Sign Up Now", new_user_registration_path, :class=>'button call_to_action small round'%>
      <% end %>

    </div>  
</div>  

  </div>

  <div class="row">
    <div class="img-holder" data-image="<%=asset_path('coding.jpg')%>" data-width="1600" data-height="900"></div>
  </div>

<div class="section-1">
  <div class="row" > 
      <div class="small-4 columns">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, cupiditate, nihil praesentium fugit magnam consequatur illum repudiandae ducimus quidem tempore ipsa ex fuga iste asperiores ad est repellat quam in.</p>
      </div>
      <div class="small-4 columns">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, aliquam, odit tempora rem facere suscipit obcaecati saepe nulla id ipsum quasi officia ducimus. Nulla, libero enim accusantium eos maxime laudantium?</p>
      </div>
      <div class="small-4 columns">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, dignissimos amet similique quisquam sunt non totam placeat. Quos, ipsam, iure voluptatibus consequuntur rerum ex at recusandae officia vel autem corrupti.</p>
      </div>
   </div>
</div>
<div class="section-2">
  <div class="row"> 
        
   </div>
</div>
<div class="footer">
  <div class="row">  </div>
</div>