<div class="row">

  <h1>New item</h1>

</div>

   <%= render 'form' %>

  <%= render 'semantics_form' %>

<% if @query %>

<div class="row">
    
    <div class="small-12 columns">
      
      <%= @query %>
      
    </div>

</div>

<% end %>

  <%= link_to 'Back', items_path %>

